.wrapper {
  position: fixed;
  right: 10px;
  top: 10px;
}

.ruleBtn {
  color: #341974;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: transparent;
  border: 2px solid #341974;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  &:hover {
    color: #5930b8;
  }
}

.modal {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
}

.rules {
  margin: 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 1px 2px 10px #100a20;
  padding: 20px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: .9em;
  font-family: sans-serif;
  text-align: left;
}